/* CUSTOM FONT */
@font-face {
	font-family: Centra;
	src: url("../font/CentraNo2-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: Centra;
	src: url("../font/CentraNo2-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: Centra;
	src: url("../font/CentraNo2-Book.ttf");
	font-weight: 400;
}

:root {
	--white: #fff;
	--black: #121212;
	--grey: #c5c5c5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
	line-height: 160%;
	letter-spacing: 1px;
	scroll-behavior: smooth;
	scroll-padding-top: 75px;
	scrollbar-width: none;
}

body {
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	background-color: var(--black);
	color: var(--grey);
	font-family: "Centra", sans-serif;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
	color: var(--white);
}

.header {
	font-size: 45px;
	margin: 20px 0;
	text-align: center;
}

p,
a,
li,
button,
ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

li {
	list-style-type: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

img {
	width: 100%;
	height: auto;
}

button {
	border: none;
	outline: none;
}

button:hover {
	cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

/* For specific classes */

#skills,
#projects {
	position: relative;
	.content {
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
	}
}

.header,
.description {
	animation: 1s ease-out appear;
}

.description {
	display: block;
	margin: 0 0 40px 0;
	text-align: center;
}

.content_header,
.content_description {
	justify-content: center;
}

/* Socials Media */
a:has(.fa-facebook-f) {
	background: linear-gradient(#2599fe, #2a64dd);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
}
a:has(.fa-instagram) {
	background: linear-gradient(120deg, #731dfc 0, #f726cb 40%, #f9904c 60%);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
}
a:has(.fa-linkedin-in) {
	background: #1650b6;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
}
a:has(.fa-github) {
	background: #141414;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-2%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(2%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(20%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20%);
	}
	100% {
		transform: translateY(0);
	}
}
