/* CUSTOM FONT */
@font-face {
	font-family: Centra;
	src: url("../font/CentraNo2-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: Centra;
	src: url("../font/CentraNo2-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: Centra;
	src: url("../font/CentraNo2-Book.ttf");
	font-weight: 400;
}

:root {
	--white: #fff;
	--black: #121212;
	--grey: #c5c5c5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
	line-height: 160%;
	letter-spacing: 1px;
	scroll-behavior: smooth;
	scroll-padding-top: 75px;
}

body {
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	background-color: var(--black);
	color: var(--grey);
	font-family: "Centra", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
}

p,
a,
li,
button,
ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

li {
	list-style-type: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

img {
	width: 100%;
	height: auto;
}

button {
	border: none;
	outline: none;
}

button:hover {
	cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}
